{
    "productionMode":       false,
    "destination":          "../web/_/",
    "sassFile":             "../source/sass/style.scss",
    "generatedCssFileName": "style",
    "jsFolder":             "../source/js/",
    "generatedJsFileName":  "script"
}
