{
    "productionMode":       false,
    "destination":          "../web/_/",

    "sassFolder":           "../source/sass/",
    "sassIncludeFile":      "../source/sass/style.scss",
    "generatedCssFileName": "style",

    "jsFolder":             "../source/js/",
    "jsIncludeFile":        "../source/js/script.js",
    "generatedJsFileName":  "script"
}
